<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111256109386-ifun7ck8btr2t88181bk5jukod4sjlsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111256109386-ifun7ck8btr2t88181bk5jukod4sjlsb</string>
	<key>API_KEY</key>
	<string>AIzaSyCfkElVtPsfpr8cnXlW3SVuEjL8UnSGOy8</string>
	<key>GCM_SENDER_ID</key>
	<string>111256109386</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomClone</string>
	<key>PROJECT_ID</key>
	<string>zoom-clone-abd53</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-clone-abd53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111256109386:ios:c9fd5eea2d038d33db41b3</string>
</dict>
</plist>